{% extends "FrontBundle::base.html.twig" %}
{% block title %}{{ 'allrequest'|trans }}{% endblock %}
{% block content %}
    <div class="col-lg-12 col-md-12 col-xs-12">
        <h3>{{ 'AllRequest'|trans }}</h3>
        {% if error is defined and error != '' %}
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>{{ 'error'|trans }}!</strong> {{ 'erroDow'|trans }}
            </div>
        {% endif %}
        <table class="table table-bordered">
            <thead>
                <th>#</th>
                <th>{{ 'Name'|trans }}</th>
                <th>{{ 'Email'|trans }}</th>
                <th>{{ 'Message'|trans }}</th>
                <th>{{ 'Files'|trans }}</th>
            </thead>
            <tbody>
                {% for request in all_requests %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ request.Name }}</td>
                        <td>{{ request.Email }}</td>
                        <td>{{ request.Message }}</td>
                        <td>
                            {% if request.getFiles|length > 0  %}
                                <div class="col-md-6 col-xs-6 col-lg-6">
                                    {% for file in  request.getFiles %}
                                        <a href="{{ path('page_download_file', {'id':file.getId }) }}" >{{ file.getName }}</a></br>
                                    {% endfor %}
                                </div>
                                <div class="col-md-6 col-xs-6 col-lg-6">
                                    <a href="{{ path('page_download_all_file', {'id':request.getId }) }}" ><i class="glyphicon glyphicon-save" title="{{ 'DownloadAll'|trans }}"></i></a><br>
                                </div>
                            {% else %}
                                <span>{{ 'notFile'|trans }}</span>
                            {% endif %}
                        </td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
    <script>
        ActiveMenu();
        $(document).ready(function() {
            $('#all_request').addClass('active');
            $('#all_request1').addClass('active');
            {#  $('.download-file').on('click', function() {
                var $id = $(this).data('id');
                $.ajax({
                    url: '{{ path('page_download_file') }}',
                    data: {
                        id : $id
                    },
                    type: 'POST',
                    success: function() {

                    },
                    error: function() {
                        alert('{{ 'error'|trans }}');
                    }
                })
            }); #}
        });
    </script>
{% endblock %}