{% extends "FrontBundle::base.html.twig" %}
{% block title %}{{ 'contactus'|trans }}{% endblock %}
{% block content %}
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert" style="display: none">
            <button type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ 'error'|trans }}!</strong> <span id="text_mess">{{ 'IncorrectD'|trans }}</span>
        </div>
        <div class="alert alert-success alert-dismissible fade in" role="alert" style="display: none">
            <button type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>{{ 'success'|trans }}!</strong> {{ 'dataSave'|trans }}
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6">
            <h3>{{ 'fieldsforimp'|trans }}</h3>
            <form style="padding: 10px;"  enctype="multipart/form-data" method="POST" id="form-reg">
                {{ form_widget(form_contact.name, { 'attr': {'class': 'form-control', 'placeholder': 'EnterName'|trans, 'title':'titleMessage'|trans,  'style': 'margin-top: 0px;'} }) }}

                {{ form_widget(form_contact.email, { 'attr': {'class': 'form-control', 'placeholder': 'EnterEmail'|trans, 'title':'titleMessage'|trans, 'style': 'margin-top: 20px;'} }) }}
                {{ form_widget(form_contact.message, { 'attr': {'class': 'form-control', 'placeholder': 'EnterMessage'|trans, 'title':'titleMessage'|trans, 'style': 'margin-top: 20px;'} }) }}
                <br/>
                <input id="upload_file" type="file" multiple>
                <br/>
                <input id="send_data" type="button" name="submit" class="btn btn-lg btn-success" value="{{ 'send'|trans }}">
            </form>
        </div>
    </div>
    <script>
        ActiveMenu();
        $(document).ready(function() {
            $('#contact_us').addClass('active');
            $('#contact_us1').addClass('active');
            $('.form-control').on('change', function() {
                $(this).css('border', '');
            });

            $('#send_data').on('click', function() {
                var $email_input = $("#form-reg").find('[type="email"]');
                var $input = $("#form-reg").find('[type="file"]');
                var $form = $('#form-reg')[0];
                var $formData = new FormData($form);
                var $length = $input.prop('files').length;
                var $flag = true;
                var $email = true;
                $('.form-control').each(function() {
                    var $value = $(this).val();
                    $value = $.trim($value);
                    if ($value == '' || $value == undefined || $value == null ) {
                        $flag = false;
                    }
                    $email = validateEmail($email_input.val());
                });
                for(var $i =0; $i< $length; $i++) {
                    $formData.append('img'+$i, $input.prop('files')[$i]);
                }
                if ($flag && $email) {
                    $.ajax({
                        url: '{{ path('page_upload_data') }}',
                        data: $formData,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        success: function (data) {
                            data = $.parseJSON(data);
                            if (data['mess'] == 'ok') {
                                $('.alert-success').slideDown();
                            } else if (data['mess'] == 'bad_upload_file') {
                                $('#text_mess').text('{{ 'IncorrectUpload'|trans }}');
                                $('.alert-danger').slideDown();

                            } else {
                                $('#text_mess').text('{{ 'IncorrectD'|trans }}');
                                $('.alert-danger').slideDown();
                            }
                        },
                        error: function() {
                            $('.alert-danger').slideDown();
                        }
                    });
                } else if (!$email) {
                    $('.alert-danger').slideDown();
                    $($email_input).css('border', 'solid 1px red');
                    $('#text_mess').text('{{ 'IncorrectE'|trans }}');
                } else {

                    $('.form-control').each(function () {
                        var $value = $(this).val();
                        $value = $.trim($value);
                        if ($value == '' || $value == undefined || $value == null ) {
                            $(this).css('border', 'solid 1px red');
                        }

                    });
                    $('.alert-danger').slideDown();
                }

            });
        });
    </script>
{% endblock %}