<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{% block title %}Test Work{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link type="text/css" href="{{ asset('bundles/front/css/bootstrap.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500italic,500,300italic,300'
          rel='stylesheet' type='text/css'>
    <link type="text/css" href="{{ asset('bundles/front/icons/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link type="text/css" href="{{ asset('bundles/front/css/style.css') }}" rel="stylesheet">

    <!-- Scripts -->
    <script type="text/javascript" src="{{ asset('bundles/front/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/front/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/front/js/custom.js') }}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<header class="header" id="jump">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="position: relative;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle toggle-left" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span><span class="icon-bar"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse hidden-xs">
                <ul class="nav navbar-nav navbar-left menubase">
                    <li class="active" id="contact_us"><a href="{{ path('page_contact_us') }}">{{ 'contactus'|trans }}</a></li>
                    <li id="all_request"><a href="{{ path('page_all_request') }}">{{ 'allrequest'|trans }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ><a href="/en" style="padding: 3px;" class="select_lang" data="English" ><img class="flags" src="/flags/United-States.png" alt="flag" ></a></li>
                    <li><a href="/ru" style="padding: 3px;" class="select_lang" data="Русский" ><img class="flags" src="/flags/Russia.png" alt="flag" ></a></li>
                </ul>
            </div>
            <div class="collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav menubase">
                    <li class="active" id="contact_us1"><a href="{{ path('page_contact_us') }}">{{ 'contactus'|trans }}</a></li>
                    <li id="all_request1"><a href="{{ path('page_all_request') }}">{{ 'allrequest'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container" >
    <div class="col-md-12 col-lg-12 col-xs-12">
        {% block content %}
        {% endblock %}
    </div>
    <div style="height: 90px;clear: both;"></div>
</div>
<footer class="footer" id="end-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="mailto:test@gmail.com" class="email-info"><i class="glyphicon glyphicon-envelope" ></i>test@gmail.com</a>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
<script befer type="text/javascript">

    //Make sticky footer according to size of window
    if ($(document).height() <= $(window).height()){
        footerAbsolute();
    }
    $(window).resize(function(){
        if ($(document).height() <= $(window).height()){
            footerAbsolute();
        } else footerStatic();
    });
    function footerAbsolute(){
        $("footer").css('position', 'absolute');
        $("footer").css('bottom', '0');
        $("footer").css('width', '100%');
    }
    function footerStatic(){
        $("footer").css('position', 'static');
    }
</script>
