.footer {
    background: #242b32;
    color: #a5b3bf;
    font-size: 13px;
    padding: 20px 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.footer * {
    line-height: 20px;
}
.footer .link-social {
    color: inherit;
    opacity: 0.8;
    filter: alpha(opacity=80);
    margin-left: 15px;
    text-decoration: none !important;
    font-size: 18px;
}
.footer .link-social:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.email-info {
    color: white;
    font-size: 17px;
    text-decoration: none;
}
.email-info i {
    margin-right: 5px;
    margin-top: 2px;
}
.toggle-left {
  float: left;
    margin-left: 15px;
}
.flags-menu {
    display: none;
}